.m_0 {
  margin: 0;
}

.mt_0 {
  margin-top: 0;
}

.mr_0 {
  margin-right: 0;
}

.mb_0 {
  margin-bottom: 0;
}

.ml_0 {
  margin-left: 0;
}

.mh_0 {
  margin-left: 0;
  margin-right: 0;
}

.mv_0 {
  margin-bottom: 0;
  margin-top: 0;
}

.p_0 {
  padding: 0;
}

.pt_0 {
  padding-top: 0;
}

.pr_0 {
  padding-right: 0;
}

.pb_0 {
  padding-bottom: 0;
}

.pl_0 {
  padding-left: 0;
}

.ph_0 {
  padding-left: 0;
  padding-right: 0;
}

.pv_0 {
  padding-bottom: 0;
  padding-top: 0;
}

.c-gap_0 {
  gap: 0;
}

.r-gap_0 {
  gap: 0;
}

.m_1 {
  margin: 4px;
}

.mt_1 {
  margin-top: 4px;
}

.mr_1 {
  margin-right: 4px;
}

.mb_1 {
  margin-bottom: 4px;
}

.ml_1 {
  margin-left: 4px;
}

.mh_1 {
  margin-left: 4px;
  margin-right: 4px;
}

.mv_1 {
  margin-bottom: 4px;
  margin-top: 4px;
}

.p_1 {
  padding: 4px;
}

.pt_1 {
  padding-top: 4px;
}

.pr_1 {
  padding-right: 4px;
}

.pb_1 {
  padding-bottom: 4px;
}

.pl_1 {
  padding-left: 4px;
}

.ph_1 {
  padding-left: 4px;
  padding-right: 4px;
}

.pv_1 {
  padding-bottom: 4px;
  padding-top: 4px;
}

.c-gap_1 {
  gap: 4px;
}

.r-gap_1 {
  gap: 4px;
}

.m_2 {
  margin: 8px;
}

.mt_2 {
  margin-top: 8px;
}

.mr_2 {
  margin-right: 8px;
}

.mb_2 {
  margin-bottom: 8px;
}

.ml_2 {
  margin-left: 8px;
}

.mh_2 {
  margin-left: 8px;
  margin-right: 8px;
}

.mv_2 {
  margin-bottom: 8px;
  margin-top: 8px;
}

.p_2 {
  padding: 8px;
}

.pt_2 {
  padding-top: 8px;
}

.pr_2 {
  padding-right: 8px;
}

.pb_2 {
  padding-bottom: 8px;
}

.pl_2 {
  padding-left: 8px;
}

.ph_2 {
  padding-left: 8px;
  padding-right: 8px;
}

.pv_2 {
  padding-bottom: 8px;
  padding-top: 8px;
}

.c-gap_2 {
  gap: 8px;
}

.r-gap_2 {
  gap: 8px;
}

.m_3 {
  margin: 12px;
}

.mt_3 {
  margin-top: 12px;
}

.mr_3 {
  margin-right: 12px;
}

.mb_3 {
  margin-bottom: 12px;
}

.ml_3 {
  margin-left: 12px;
}

.mh_3 {
  margin-left: 12px;
  margin-right: 12px;
}

.mv_3 {
  margin-bottom: 12px;
  margin-top: 12px;
}

.p_3 {
  padding: 12px;
}

.pt_3 {
  padding-top: 12px;
}

.pr_3 {
  padding-right: 12px;
}

.pb_3 {
  padding-bottom: 12px;
}

.pl_3 {
  padding-left: 12px;
}

.ph_3 {
  padding-left: 12px;
  padding-right: 12px;
}

.pv_3 {
  padding-bottom: 12px;
  padding-top: 12px;
}

.c-gap_3 {
  gap: 12px;
}

.r-gap_3 {
  gap: 12px;
}

.m_4 {
  margin: 16px;
}

.mt_4 {
  margin-top: 16px;
}

.mr_4 {
  margin-right: 16px;
}

.mb_4 {
  margin-bottom: 16px;
}

.ml_4 {
  margin-left: 16px;
}

.mh_4 {
  margin-left: 16px;
  margin-right: 16px;
}

.mv_4 {
  margin-bottom: 16px;
  margin-top: 16px;
}

.p_4 {
  padding: 16px;
}

.pt_4 {
  padding-top: 16px;
}

.pr_4 {
  padding-right: 16px;
}

.pb_4 {
  padding-bottom: 16px;
}

.pl_4 {
  padding-left: 16px;
}

.ph_4 {
  padding-left: 16px;
  padding-right: 16px;
}

.pv_4 {
  padding-bottom: 16px;
  padding-top: 16px;
}

.c-gap_4 {
  gap: 16px;
}

.r-gap_4 {
  gap: 16px;
}

.m_5 {
  margin: 20px;
}

.mt_5 {
  margin-top: 20px;
}

.mr_5 {
  margin-right: 20px;
}

.mb_5 {
  margin-bottom: 20px;
}

.ml_5 {
  margin-left: 20px;
}

.mh_5 {
  margin-left: 20px;
  margin-right: 20px;
}

.mv_5 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.p_5 {
  padding: 20px;
}

.pt_5 {
  padding-top: 20px;
}

.pr_5 {
  padding-right: 20px;
}

.pb_5 {
  padding-bottom: 20px;
}

.pl_5 {
  padding-left: 20px;
}

.ph_5 {
  padding-left: 20px;
  padding-right: 20px;
}

.pv_5 {
  padding-bottom: 20px;
  padding-top: 20px;
}

.c-gap_5 {
  gap: 20px;
}

.r-gap_5 {
  gap: 20px;
}

.m_6 {
  margin: 24px;
}

.mt_6 {
  margin-top: 24px;
}

.mr_6 {
  margin-right: 24px;
}

.mb_6 {
  margin-bottom: 24px;
}

.ml_6 {
  margin-left: 24px;
}

.mh_6 {
  margin-left: 24px;
  margin-right: 24px;
}

.mv_6 {
  margin-bottom: 24px;
  margin-top: 24px;
}

.p_6 {
  padding: 24px;
}

.pt_6 {
  padding-top: 24px;
}

.pr_6 {
  padding-right: 24px;
}

.pb_6 {
  padding-bottom: 24px;
}

.pl_6 {
  padding-left: 24px;
}

.ph_6 {
  padding-left: 24px;
  padding-right: 24px;
}

.pv_6 {
  padding-bottom: 24px;
  padding-top: 24px;
}

.c-gap_6 {
  gap: 24px;
}

.r-gap_6 {
  gap: 24px;
}

.m_7 {
  margin: 28px;
}

.mt_7 {
  margin-top: 28px;
}

.mr_7 {
  margin-right: 28px;
}

.mb_7 {
  margin-bottom: 28px;
}

.ml_7 {
  margin-left: 28px;
}

.mh_7 {
  margin-left: 28px;
  margin-right: 28px;
}

.mv_7 {
  margin-bottom: 28px;
  margin-top: 28px;
}

.p_7 {
  padding: 28px;
}

.pt_7 {
  padding-top: 28px;
}

.pr_7 {
  padding-right: 28px;
}

.pb_7 {
  padding-bottom: 28px;
}

.pl_7 {
  padding-left: 28px;
}

.ph_7 {
  padding-left: 28px;
  padding-right: 28px;
}

.pv_7 {
  padding-bottom: 28px;
  padding-top: 28px;
}

.c-gap_7 {
  gap: 28px;
}

.r-gap_7 {
  gap: 28px;
}

.m_8 {
  margin: 32px;
}

.mt_8 {
  margin-top: 32px;
}

.mr_8 {
  margin-right: 32px;
}

.mb_8 {
  margin-bottom: 32px;
}

.ml_8 {
  margin-left: 32px;
}

.mh_8 {
  margin-left: 32px;
  margin-right: 32px;
}

.mv_8 {
  margin-bottom: 32px;
  margin-top: 32px;
}

.p_8 {
  padding: 32px;
}

.pt_8 {
  padding-top: 32px;
}

.pr_8 {
  padding-right: 32px;
}

.pb_8 {
  padding-bottom: 32px;
}

.pl_8 {
  padding-left: 32px;
}

.ph_8 {
  padding-left: 32px;
  padding-right: 32px;
}

.pv_8 {
  padding-bottom: 32px;
  padding-top: 32px;
}

.c-gap_8 {
  gap: 32px;
}

.r-gap_8 {
  gap: 32px;
}

.m_9 {
  margin: 36px;
}

.mt_9 {
  margin-top: 36px;
}

.mr_9 {
  margin-right: 36px;
}

.mb_9 {
  margin-bottom: 36px;
}

.ml_9 {
  margin-left: 36px;
}

.mh_9 {
  margin-left: 36px;
  margin-right: 36px;
}

.mv_9 {
  margin-bottom: 36px;
  margin-top: 36px;
}

.p_9 {
  padding: 36px;
}

.pt_9 {
  padding-top: 36px;
}

.pr_9 {
  padding-right: 36px;
}

.pb_9 {
  padding-bottom: 36px;
}

.pl_9 {
  padding-left: 36px;
}

.ph_9 {
  padding-left: 36px;
  padding-right: 36px;
}

.pv_9 {
  padding-bottom: 36px;
  padding-top: 36px;
}

.c-gap_9 {
  gap: 36px;
}

.r-gap_9 {
  gap: 36px;
}

.m_10 {
  margin: 40px;
}

.mt_10 {
  margin-top: 40px;
}

.mr_10 {
  margin-right: 40px;
}

.mb_10 {
  margin-bottom: 40px;
}

.ml_10 {
  margin-left: 40px;
}

.mh_10 {
  margin-left: 40px;
  margin-right: 40px;
}

.mv_10 {
  margin-bottom: 40px;
  margin-top: 40px;
}

.p_10 {
  padding: 40px;
}

.pt_10 {
  padding-top: 40px;
}

.pr_10 {
  padding-right: 40px;
}

.pb_10 {
  padding-bottom: 40px;
}

.pl_10 {
  padding-left: 40px;
}

.ph_10 {
  padding-left: 40px;
  padding-right: 40px;
}

.pv_10 {
  padding-bottom: 40px;
  padding-top: 40px;
}

.c-gap_10 {
  gap: 40px;
}

.r-gap_10 {
  gap: 40px;
}

.m_11 {
  margin: 44px;
}

.mt_11 {
  margin-top: 44px;
}

.mr_11 {
  margin-right: 44px;
}

.mb_11 {
  margin-bottom: 44px;
}

.ml_11 {
  margin-left: 44px;
}

.mh_11 {
  margin-left: 44px;
  margin-right: 44px;
}

.mv_11 {
  margin-bottom: 44px;
  margin-top: 44px;
}

.p_11 {
  padding: 44px;
}

.pt_11 {
  padding-top: 44px;
}

.pr_11 {
  padding-right: 44px;
}

.pb_11 {
  padding-bottom: 44px;
}

.pl_11 {
  padding-left: 44px;
}

.ph_11 {
  padding-left: 44px;
  padding-right: 44px;
}

.pv_11 {
  padding-bottom: 44px;
  padding-top: 44px;
}

.c-gap_11 {
  gap: 44px;
}

.r-gap_11 {
  gap: 44px;
}

.m_12 {
  margin: 48px;
}

.mt_12 {
  margin-top: 48px;
}

.mr_12 {
  margin-right: 48px;
}

.mb_12 {
  margin-bottom: 48px;
}

.ml_12 {
  margin-left: 48px;
}

.mh_12 {
  margin-left: 48px;
  margin-right: 48px;
}

.mv_12 {
  margin-bottom: 48px;
  margin-top: 48px;
}

.p_12 {
  padding: 48px;
}

.pt_12 {
  padding-top: 48px;
}

.pr_12 {
  padding-right: 48px;
}

.pb_12 {
  padding-bottom: 48px;
}

.pl_12 {
  padding-left: 48px;
}

.ph_12 {
  padding-left: 48px;
  padding-right: 48px;
}

.pv_12 {
  padding-bottom: 48px;
  padding-top: 48px;
}

.c-gap_12 {
  gap: 48px;
}

.r-gap_12 {
  gap: 48px;
}

.m_13 {
  margin: 52px;
}

.mt_13 {
  margin-top: 52px;
}

.mr_13 {
  margin-right: 52px;
}

.mb_13 {
  margin-bottom: 52px;
}

.ml_13 {
  margin-left: 52px;
}

.mh_13 {
  margin-left: 52px;
  margin-right: 52px;
}

.mv_13 {
  margin-bottom: 52px;
  margin-top: 52px;
}

.p_13 {
  padding: 52px;
}

.pt_13 {
  padding-top: 52px;
}

.pr_13 {
  padding-right: 52px;
}

.pb_13 {
  padding-bottom: 52px;
}

.pl_13 {
  padding-left: 52px;
}

.ph_13 {
  padding-left: 52px;
  padding-right: 52px;
}

.pv_13 {
  padding-bottom: 52px;
  padding-top: 52px;
}

.c-gap_13 {
  gap: 52px;
}

.r-gap_13 {
  gap: 52px;
}

.m_14 {
  margin: 56px;
}

.mt_14 {
  margin-top: 56px;
}

.mr_14 {
  margin-right: 56px;
}

.mb_14 {
  margin-bottom: 56px;
}

.ml_14 {
  margin-left: 56px;
}

.mh_14 {
  margin-left: 56px;
  margin-right: 56px;
}

.mv_14 {
  margin-bottom: 56px;
  margin-top: 56px;
}

.p_14 {
  padding: 56px;
}

.pt_14 {
  padding-top: 56px;
}

.pr_14 {
  padding-right: 56px;
}

.pb_14 {
  padding-bottom: 56px;
}

.pl_14 {
  padding-left: 56px;
}

.ph_14 {
  padding-left: 56px;
  padding-right: 56px;
}

.pv_14 {
  padding-bottom: 56px;
  padding-top: 56px;
}

.c-gap_14 {
  gap: 56px;
}

.r-gap_14 {
  gap: 56px;
}

.m_15 {
  margin: 60px;
}

.mt_15 {
  margin-top: 60px;
}

.mr_15 {
  margin-right: 60px;
}

.mb_15 {
  margin-bottom: 60px;
}

.ml_15 {
  margin-left: 60px;
}

.mh_15 {
  margin-left: 60px;
  margin-right: 60px;
}

.mv_15 {
  margin-bottom: 60px;
  margin-top: 60px;
}

.p_15 {
  padding: 60px;
}

.pt_15 {
  padding-top: 60px;
}

.pr_15 {
  padding-right: 60px;
}

.pb_15 {
  padding-bottom: 60px;
}

.pl_15 {
  padding-left: 60px;
}

.ph_15 {
  padding-left: 60px;
  padding-right: 60px;
}

.pv_15 {
  padding-bottom: 60px;
  padding-top: 60px;
}

.c-gap_15 {
  gap: 60px;
}

.r-gap_15 {
  gap: 60px;
}

.m_16 {
  margin: 64px;
}

.mt_16 {
  margin-top: 64px;
}

.mr_16 {
  margin-right: 64px;
}

.mb_16 {
  margin-bottom: 64px;
}

.ml_16 {
  margin-left: 64px;
}

.mh_16 {
  margin-left: 64px;
  margin-right: 64px;
}

.mv_16 {
  margin-bottom: 64px;
  margin-top: 64px;
}

.p_16 {
  padding: 64px;
}

.pt_16 {
  padding-top: 64px;
}

.pr_16 {
  padding-right: 64px;
}

.pb_16 {
  padding-bottom: 64px;
}

.pl_16 {
  padding-left: 64px;
}

.ph_16 {
  padding-left: 64px;
  padding-right: 64px;
}

.pv_16 {
  padding-bottom: 64px;
  padding-top: 64px;
}

.c-gap_16 {
  gap: 64px;
}

.r-gap_16 {
  gap: 64px;
}

.m_17 {
  margin: 68px;
}

.mt_17 {
  margin-top: 68px;
}

.mr_17 {
  margin-right: 68px;
}

.mb_17 {
  margin-bottom: 68px;
}

.ml_17 {
  margin-left: 68px;
}

.mh_17 {
  margin-left: 68px;
  margin-right: 68px;
}

.mv_17 {
  margin-bottom: 68px;
  margin-top: 68px;
}

.p_17 {
  padding: 68px;
}

.pt_17 {
  padding-top: 68px;
}

.pr_17 {
  padding-right: 68px;
}

.pb_17 {
  padding-bottom: 68px;
}

.pl_17 {
  padding-left: 68px;
}

.ph_17 {
  padding-left: 68px;
  padding-right: 68px;
}

.pv_17 {
  padding-bottom: 68px;
  padding-top: 68px;
}

.c-gap_17 {
  gap: 68px;
}

.r-gap_17 {
  gap: 68px;
}

.m_18 {
  margin: 72px;
}

.mt_18 {
  margin-top: 72px;
}

.mr_18 {
  margin-right: 72px;
}

.mb_18 {
  margin-bottom: 72px;
}

.ml_18 {
  margin-left: 72px;
}

.mh_18 {
  margin-left: 72px;
  margin-right: 72px;
}

.mv_18 {
  margin-bottom: 72px;
  margin-top: 72px;
}

.p_18 {
  padding: 72px;
}

.pt_18 {
  padding-top: 72px;
}

.pr_18 {
  padding-right: 72px;
}

.pb_18 {
  padding-bottom: 72px;
}

.pl_18 {
  padding-left: 72px;
}

.ph_18 {
  padding-left: 72px;
  padding-right: 72px;
}

.pv_18 {
  padding-bottom: 72px;
  padding-top: 72px;
}

.c-gap_18 {
  gap: 72px;
}

.r-gap_18 {
  gap: 72px;
}

.m_19 {
  margin: 76px;
}

.mt_19 {
  margin-top: 76px;
}

.mr_19 {
  margin-right: 76px;
}

.mb_19 {
  margin-bottom: 76px;
}

.ml_19 {
  margin-left: 76px;
}

.mh_19 {
  margin-left: 76px;
  margin-right: 76px;
}

.mv_19 {
  margin-bottom: 76px;
  margin-top: 76px;
}

.p_19 {
  padding: 76px;
}

.pt_19 {
  padding-top: 76px;
}

.pr_19 {
  padding-right: 76px;
}

.pb_19 {
  padding-bottom: 76px;
}

.pl_19 {
  padding-left: 76px;
}

.ph_19 {
  padding-left: 76px;
  padding-right: 76px;
}

.pv_19 {
  padding-bottom: 76px;
  padding-top: 76px;
}

.c-gap_19 {
  gap: 76px;
}

.r-gap_19 {
  gap: 76px;
}

.m_20 {
  margin: 80px;
}

.mt_20 {
  margin-top: 80px;
}

.mr_20 {
  margin-right: 80px;
}

.mb_20 {
  margin-bottom: 80px;
}

.ml_20 {
  margin-left: 80px;
}

.mh_20 {
  margin-left: 80px;
  margin-right: 80px;
}

.mv_20 {
  margin-bottom: 80px;
  margin-top: 80px;
}

.p_20 {
  padding: 80px;
}

.pt_20 {
  padding-top: 80px;
}

.pr_20 {
  padding-right: 80px;
}

.pb_20 {
  padding-bottom: 80px;
}

.pl_20 {
  padding-left: 80px;
}

.ph_20 {
  padding-left: 80px;
  padding-right: 80px;
}

.pv_20 {
  padding-bottom: 80px;
  padding-top: 80px;
}

.c-gap_20 {
  gap: 80px;
}

.r-gap_20 {
  gap: 80px;
}

.m_21 {
  margin: 84px;
}

.mt_21 {
  margin-top: 84px;
}

.mr_21 {
  margin-right: 84px;
}

.mb_21 {
  margin-bottom: 84px;
}

.ml_21 {
  margin-left: 84px;
}

.mh_21 {
  margin-left: 84px;
  margin-right: 84px;
}

.mv_21 {
  margin-bottom: 84px;
  margin-top: 84px;
}

.p_21 {
  padding: 84px;
}

.pt_21 {
  padding-top: 84px;
}

.pr_21 {
  padding-right: 84px;
}

.pb_21 {
  padding-bottom: 84px;
}

.pl_21 {
  padding-left: 84px;
}

.ph_21 {
  padding-left: 84px;
  padding-right: 84px;
}

.pv_21 {
  padding-bottom: 84px;
  padding-top: 84px;
}

.c-gap_21 {
  gap: 84px;
}

.r-gap_21 {
  gap: 84px;
}

.m_22 {
  margin: 88px;
}

.mt_22 {
  margin-top: 88px;
}

.mr_22 {
  margin-right: 88px;
}

.mb_22 {
  margin-bottom: 88px;
}

.ml_22 {
  margin-left: 88px;
}

.mh_22 {
  margin-left: 88px;
  margin-right: 88px;
}

.mv_22 {
  margin-bottom: 88px;
  margin-top: 88px;
}

.p_22 {
  padding: 88px;
}

.pt_22 {
  padding-top: 88px;
}

.pr_22 {
  padding-right: 88px;
}

.pb_22 {
  padding-bottom: 88px;
}

.pl_22 {
  padding-left: 88px;
}

.ph_22 {
  padding-left: 88px;
  padding-right: 88px;
}

.pv_22 {
  padding-bottom: 88px;
  padding-top: 88px;
}

.c-gap_22 {
  gap: 88px;
}

.r-gap_22 {
  gap: 88px;
}

.m_23 {
  margin: 92px;
}

.mt_23 {
  margin-top: 92px;
}

.mr_23 {
  margin-right: 92px;
}

.mb_23 {
  margin-bottom: 92px;
}

.ml_23 {
  margin-left: 92px;
}

.mh_23 {
  margin-left: 92px;
  margin-right: 92px;
}

.mv_23 {
  margin-bottom: 92px;
  margin-top: 92px;
}

.p_23 {
  padding: 92px;
}

.pt_23 {
  padding-top: 92px;
}

.pr_23 {
  padding-right: 92px;
}

.pb_23 {
  padding-bottom: 92px;
}

.pl_23 {
  padding-left: 92px;
}

.ph_23 {
  padding-left: 92px;
  padding-right: 92px;
}

.pv_23 {
  padding-bottom: 92px;
  padding-top: 92px;
}

.c-gap_23 {
  gap: 92px;
}

.r-gap_23 {
  gap: 92px;
}

.m_24 {
  margin: 96px;
}

.mt_24 {
  margin-top: 96px;
}

.mr_24 {
  margin-right: 96px;
}

.mb_24 {
  margin-bottom: 96px;
}

.ml_24 {
  margin-left: 96px;
}

.mh_24 {
  margin-left: 96px;
  margin-right: 96px;
}

.mv_24 {
  margin-bottom: 96px;
  margin-top: 96px;
}

.p_24 {
  padding: 96px;
}

.pt_24 {
  padding-top: 96px;
}

.pr_24 {
  padding-right: 96px;
}

.pb_24 {
  padding-bottom: 96px;
}

.pl_24 {
  padding-left: 96px;
}

.ph_24 {
  padding-left: 96px;
  padding-right: 96px;
}

.pv_24 {
  padding-bottom: 96px;
  padding-top: 96px;
}

.c-gap_24 {
  gap: 96px;
}

.r-gap_24 {
  gap: 96px;
}

.m_0 {
  margin: 0;
}

.mt_0 {
  margin-top: 0;
}

.mr_0 {
  margin-right: 0;
}

.mb_0 {
  margin-bottom: 0;
}

.ml_0 {
  margin-left: 0;
}

.mh_0 {
  margin-left: 0;
  margin-right: 0;
}

.mv_0 {
  margin-bottom: 0;
  margin-top: 0;
}

.p_0 {
  padding: 0;
}

.pt_0 {
  padding-top: 0;
}

.pr_0 {
  padding-right: 0;
}

.pb_0 {
  padding-bottom: 0;
}

.pl_0 {
  padding-left: 0;
}

.ph_0 {
  padding-left: 0;
  padding-right: 0;
}

.pv_0 {
  padding-bottom: 0;
  padding-top: 0;
}

.c-gap_0 {
  gap: 0;
}

.r-gap_0 {
  gap: 0;
}

.m_1 {
  margin: 4px;
}

.mt_1 {
  margin-top: 4px;
}

.mr_1 {
  margin-right: 4px;
}

.mb_1 {
  margin-bottom: 4px;
}

.ml_1 {
  margin-left: 4px;
}

.mh_1 {
  margin-left: 4px;
  margin-right: 4px;
}

.mv_1 {
  margin-bottom: 4px;
  margin-top: 4px;
}

.p_1 {
  padding: 4px;
}

.pt_1 {
  padding-top: 4px;
}

.pr_1 {
  padding-right: 4px;
}

.pb_1 {
  padding-bottom: 4px;
}

.pl_1 {
  padding-left: 4px;
}

.ph_1 {
  padding-left: 4px;
  padding-right: 4px;
}

.pv_1 {
  padding-bottom: 4px;
  padding-top: 4px;
}

.c-gap_1 {
  gap: 4px;
}

.r-gap_1 {
  gap: 4px;
}

.m_2 {
  margin: 8px;
}

.mt_2 {
  margin-top: 8px;
}

.mr_2 {
  margin-right: 8px;
}

.mb_2 {
  margin-bottom: 8px;
}

.ml_2 {
  margin-left: 8px;
}

.mh_2 {
  margin-left: 8px;
  margin-right: 8px;
}

.mv_2 {
  margin-bottom: 8px;
  margin-top: 8px;
}

.p_2 {
  padding: 8px;
}

.pt_2 {
  padding-top: 8px;
}

.pr_2 {
  padding-right: 8px;
}

.pb_2 {
  padding-bottom: 8px;
}

.pl_2 {
  padding-left: 8px;
}

.ph_2 {
  padding-left: 8px;
  padding-right: 8px;
}

.pv_2 {
  padding-bottom: 8px;
  padding-top: 8px;
}

.c-gap_2 {
  gap: 8px;
}

.r-gap_2 {
  gap: 8px;
}

.m_3 {
  margin: 12px;
}

.mt_3 {
  margin-top: 12px;
}

.mr_3 {
  margin-right: 12px;
}

.mb_3 {
  margin-bottom: 12px;
}

.ml_3 {
  margin-left: 12px;
}

.mh_3 {
  margin-left: 12px;
  margin-right: 12px;
}

.mv_3 {
  margin-bottom: 12px;
  margin-top: 12px;
}

.p_3 {
  padding: 12px;
}

.pt_3 {
  padding-top: 12px;
}

.pr_3 {
  padding-right: 12px;
}

.pb_3 {
  padding-bottom: 12px;
}

.pl_3 {
  padding-left: 12px;
}

.ph_3 {
  padding-left: 12px;
  padding-right: 12px;
}

.pv_3 {
  padding-bottom: 12px;
  padding-top: 12px;
}

.c-gap_3 {
  gap: 12px;
}

.r-gap_3 {
  gap: 12px;
}

.m_4 {
  margin: 16px;
}

.mt_4 {
  margin-top: 16px;
}

.mr_4 {
  margin-right: 16px;
}

.mb_4 {
  margin-bottom: 16px;
}

.ml_4 {
  margin-left: 16px;
}

.mh_4 {
  margin-left: 16px;
  margin-right: 16px;
}

.mv_4 {
  margin-bottom: 16px;
  margin-top: 16px;
}

.p_4 {
  padding: 16px;
}

.pt_4 {
  padding-top: 16px;
}

.pr_4 {
  padding-right: 16px;
}

.pb_4 {
  padding-bottom: 16px;
}

.pl_4 {
  padding-left: 16px;
}

.ph_4 {
  padding-left: 16px;
  padding-right: 16px;
}

.pv_4 {
  padding-bottom: 16px;
  padding-top: 16px;
}

.c-gap_4 {
  gap: 16px;
}

.r-gap_4 {
  gap: 16px;
}

.m_5 {
  margin: 20px;
}

.mt_5 {
  margin-top: 20px;
}

.mr_5 {
  margin-right: 20px;
}

.mb_5 {
  margin-bottom: 20px;
}

.ml_5 {
  margin-left: 20px;
}

.mh_5 {
  margin-left: 20px;
  margin-right: 20px;
}

.mv_5 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.p_5 {
  padding: 20px;
}

.pt_5 {
  padding-top: 20px;
}

.pr_5 {
  padding-right: 20px;
}

.pb_5 {
  padding-bottom: 20px;
}

.pl_5 {
  padding-left: 20px;
}

.ph_5 {
  padding-left: 20px;
  padding-right: 20px;
}

.pv_5 {
  padding-bottom: 20px;
  padding-top: 20px;
}

.c-gap_5 {
  gap: 20px;
}

.r-gap_5 {
  gap: 20px;
}

.m_6 {
  margin: 24px;
}

.mt_6 {
  margin-top: 24px;
}

.mr_6 {
  margin-right: 24px;
}

.mb_6 {
  margin-bottom: 24px;
}

.ml_6 {
  margin-left: 24px;
}

.mh_6 {
  margin-left: 24px;
  margin-right: 24px;
}

.mv_6 {
  margin-bottom: 24px;
  margin-top: 24px;
}

.p_6 {
  padding: 24px;
}

.pt_6 {
  padding-top: 24px;
}

.pr_6 {
  padding-right: 24px;
}

.pb_6 {
  padding-bottom: 24px;
}

.pl_6 {
  padding-left: 24px;
}

.ph_6 {
  padding-left: 24px;
  padding-right: 24px;
}

.pv_6 {
  padding-bottom: 24px;
  padding-top: 24px;
}

.c-gap_6 {
  gap: 24px;
}

.r-gap_6 {
  gap: 24px;
}

.m_7 {
  margin: 28px;
}

.mt_7 {
  margin-top: 28px;
}

.mr_7 {
  margin-right: 28px;
}

.mb_7 {
  margin-bottom: 28px;
}

.ml_7 {
  margin-left: 28px;
}

.mh_7 {
  margin-left: 28px;
  margin-right: 28px;
}

.mv_7 {
  margin-bottom: 28px;
  margin-top: 28px;
}

.p_7 {
  padding: 28px;
}

.pt_7 {
  padding-top: 28px;
}

.pr_7 {
  padding-right: 28px;
}

.pb_7 {
  padding-bottom: 28px;
}

.pl_7 {
  padding-left: 28px;
}

.ph_7 {
  padding-left: 28px;
  padding-right: 28px;
}

.pv_7 {
  padding-bottom: 28px;
  padding-top: 28px;
}

.c-gap_7 {
  gap: 28px;
}

.r-gap_7 {
  gap: 28px;
}

.m_8 {
  margin: 32px;
}

.mt_8 {
  margin-top: 32px;
}

.mr_8 {
  margin-right: 32px;
}

.mb_8 {
  margin-bottom: 32px;
}

.ml_8 {
  margin-left: 32px;
}

.mh_8 {
  margin-left: 32px;
  margin-right: 32px;
}

.mv_8 {
  margin-bottom: 32px;
  margin-top: 32px;
}

.p_8 {
  padding: 32px;
}

.pt_8 {
  padding-top: 32px;
}

.pr_8 {
  padding-right: 32px;
}

.pb_8 {
  padding-bottom: 32px;
}

.pl_8 {
  padding-left: 32px;
}

.ph_8 {
  padding-left: 32px;
  padding-right: 32px;
}

.pv_8 {
  padding-bottom: 32px;
  padding-top: 32px;
}

.c-gap_8 {
  gap: 32px;
}

.r-gap_8 {
  gap: 32px;
}

.m_9 {
  margin: 36px;
}

.mt_9 {
  margin-top: 36px;
}

.mr_9 {
  margin-right: 36px;
}

.mb_9 {
  margin-bottom: 36px;
}

.ml_9 {
  margin-left: 36px;
}

.mh_9 {
  margin-left: 36px;
  margin-right: 36px;
}

.mv_9 {
  margin-bottom: 36px;
  margin-top: 36px;
}

.p_9 {
  padding: 36px;
}

.pt_9 {
  padding-top: 36px;
}

.pr_9 {
  padding-right: 36px;
}

.pb_9 {
  padding-bottom: 36px;
}

.pl_9 {
  padding-left: 36px;
}

.ph_9 {
  padding-left: 36px;
  padding-right: 36px;
}

.pv_9 {
  padding-bottom: 36px;
  padding-top: 36px;
}

.c-gap_9 {
  gap: 36px;
}

.r-gap_9 {
  gap: 36px;
}

.m_10 {
  margin: 40px;
}

.mt_10 {
  margin-top: 40px;
}

.mr_10 {
  margin-right: 40px;
}

.mb_10 {
  margin-bottom: 40px;
}

.ml_10 {
  margin-left: 40px;
}

.mh_10 {
  margin-left: 40px;
  margin-right: 40px;
}

.mv_10 {
  margin-bottom: 40px;
  margin-top: 40px;
}

.p_10 {
  padding: 40px;
}

.pt_10 {
  padding-top: 40px;
}

.pr_10 {
  padding-right: 40px;
}

.pb_10 {
  padding-bottom: 40px;
}

.pl_10 {
  padding-left: 40px;
}

.ph_10 {
  padding-left: 40px;
  padding-right: 40px;
}

.pv_10 {
  padding-bottom: 40px;
  padding-top: 40px;
}

.c-gap_10 {
  gap: 40px;
}

.r-gap_10 {
  gap: 40px;
}

.m_11 {
  margin: 44px;
}

.mt_11 {
  margin-top: 44px;
}

.mr_11 {
  margin-right: 44px;
}

.mb_11 {
  margin-bottom: 44px;
}

.ml_11 {
  margin-left: 44px;
}

.mh_11 {
  margin-left: 44px;
  margin-right: 44px;
}

.mv_11 {
  margin-bottom: 44px;
  margin-top: 44px;
}

.p_11 {
  padding: 44px;
}

.pt_11 {
  padding-top: 44px;
}

.pr_11 {
  padding-right: 44px;
}

.pb_11 {
  padding-bottom: 44px;
}

.pl_11 {
  padding-left: 44px;
}

.ph_11 {
  padding-left: 44px;
  padding-right: 44px;
}

.pv_11 {
  padding-bottom: 44px;
  padding-top: 44px;
}

.c-gap_11 {
  gap: 44px;
}

.r-gap_11 {
  gap: 44px;
}

.m_12 {
  margin: 48px;
}

.mt_12 {
  margin-top: 48px;
}

.mr_12 {
  margin-right: 48px;
}

.mb_12 {
  margin-bottom: 48px;
}

.ml_12 {
  margin-left: 48px;
}

.mh_12 {
  margin-left: 48px;
  margin-right: 48px;
}

.mv_12 {
  margin-bottom: 48px;
  margin-top: 48px;
}

.p_12 {
  padding: 48px;
}

.pt_12 {
  padding-top: 48px;
}

.pr_12 {
  padding-right: 48px;
}

.pb_12 {
  padding-bottom: 48px;
}

.pl_12 {
  padding-left: 48px;
}

.ph_12 {
  padding-left: 48px;
  padding-right: 48px;
}

.pv_12 {
  padding-bottom: 48px;
  padding-top: 48px;
}

.c-gap_12 {
  gap: 48px;
}

.r-gap_12 {
  gap: 48px;
}

.m_13 {
  margin: 52px;
}

.mt_13 {
  margin-top: 52px;
}

.mr_13 {
  margin-right: 52px;
}

.mb_13 {
  margin-bottom: 52px;
}

.ml_13 {
  margin-left: 52px;
}

.mh_13 {
  margin-left: 52px;
  margin-right: 52px;
}

.mv_13 {
  margin-bottom: 52px;
  margin-top: 52px;
}

.p_13 {
  padding: 52px;
}

.pt_13 {
  padding-top: 52px;
}

.pr_13 {
  padding-right: 52px;
}

.pb_13 {
  padding-bottom: 52px;
}

.pl_13 {
  padding-left: 52px;
}

.ph_13 {
  padding-left: 52px;
  padding-right: 52px;
}

.pv_13 {
  padding-bottom: 52px;
  padding-top: 52px;
}

.c-gap_13 {
  gap: 52px;
}

.r-gap_13 {
  gap: 52px;
}

.m_14 {
  margin: 56px;
}

.mt_14 {
  margin-top: 56px;
}

.mr_14 {
  margin-right: 56px;
}

.mb_14 {
  margin-bottom: 56px;
}

.ml_14 {
  margin-left: 56px;
}

.mh_14 {
  margin-left: 56px;
  margin-right: 56px;
}

.mv_14 {
  margin-bottom: 56px;
  margin-top: 56px;
}

.p_14 {
  padding: 56px;
}

.pt_14 {
  padding-top: 56px;
}

.pr_14 {
  padding-right: 56px;
}

.pb_14 {
  padding-bottom: 56px;
}

.pl_14 {
  padding-left: 56px;
}

.ph_14 {
  padding-left: 56px;
  padding-right: 56px;
}

.pv_14 {
  padding-bottom: 56px;
  padding-top: 56px;
}

.c-gap_14 {
  gap: 56px;
}

.r-gap_14 {
  gap: 56px;
}

.m_15 {
  margin: 60px;
}

.mt_15 {
  margin-top: 60px;
}

.mr_15 {
  margin-right: 60px;
}

.mb_15 {
  margin-bottom: 60px;
}

.ml_15 {
  margin-left: 60px;
}

.mh_15 {
  margin-left: 60px;
  margin-right: 60px;
}

.mv_15 {
  margin-bottom: 60px;
  margin-top: 60px;
}

.p_15 {
  padding: 60px;
}

.pt_15 {
  padding-top: 60px;
}

.pr_15 {
  padding-right: 60px;
}

.pb_15 {
  padding-bottom: 60px;
}

.pl_15 {
  padding-left: 60px;
}

.ph_15 {
  padding-left: 60px;
  padding-right: 60px;
}

.pv_15 {
  padding-bottom: 60px;
  padding-top: 60px;
}

.c-gap_15 {
  gap: 60px;
}

.r-gap_15 {
  gap: 60px;
}

.m_16 {
  margin: 64px;
}

.mt_16 {
  margin-top: 64px;
}

.mr_16 {
  margin-right: 64px;
}

.mb_16 {
  margin-bottom: 64px;
}

.ml_16 {
  margin-left: 64px;
}

.mh_16 {
  margin-left: 64px;
  margin-right: 64px;
}

.mv_16 {
  margin-bottom: 64px;
  margin-top: 64px;
}

.p_16 {
  padding: 64px;
}

.pt_16 {
  padding-top: 64px;
}

.pr_16 {
  padding-right: 64px;
}

.pb_16 {
  padding-bottom: 64px;
}

.pl_16 {
  padding-left: 64px;
}

.ph_16 {
  padding-left: 64px;
  padding-right: 64px;
}

.pv_16 {
  padding-bottom: 64px;
  padding-top: 64px;
}

.c-gap_16 {
  gap: 64px;
}

.r-gap_16 {
  gap: 64px;
}

.m_17 {
  margin: 68px;
}

.mt_17 {
  margin-top: 68px;
}

.mr_17 {
  margin-right: 68px;
}

.mb_17 {
  margin-bottom: 68px;
}

.ml_17 {
  margin-left: 68px;
}

.mh_17 {
  margin-left: 68px;
  margin-right: 68px;
}

.mv_17 {
  margin-bottom: 68px;
  margin-top: 68px;
}

.p_17 {
  padding: 68px;
}

.pt_17 {
  padding-top: 68px;
}

.pr_17 {
  padding-right: 68px;
}

.pb_17 {
  padding-bottom: 68px;
}

.pl_17 {
  padding-left: 68px;
}

.ph_17 {
  padding-left: 68px;
  padding-right: 68px;
}

.pv_17 {
  padding-bottom: 68px;
  padding-top: 68px;
}

.c-gap_17 {
  gap: 68px;
}

.r-gap_17 {
  gap: 68px;
}

.m_18 {
  margin: 72px;
}

.mt_18 {
  margin-top: 72px;
}

.mr_18 {
  margin-right: 72px;
}

.mb_18 {
  margin-bottom: 72px;
}

.ml_18 {
  margin-left: 72px;
}

.mh_18 {
  margin-left: 72px;
  margin-right: 72px;
}

.mv_18 {
  margin-bottom: 72px;
  margin-top: 72px;
}

.p_18 {
  padding: 72px;
}

.pt_18 {
  padding-top: 72px;
}

.pr_18 {
  padding-right: 72px;
}

.pb_18 {
  padding-bottom: 72px;
}

.pl_18 {
  padding-left: 72px;
}

.ph_18 {
  padding-left: 72px;
  padding-right: 72px;
}

.pv_18 {
  padding-bottom: 72px;
  padding-top: 72px;
}

.c-gap_18 {
  gap: 72px;
}

.r-gap_18 {
  gap: 72px;
}

.m_19 {
  margin: 76px;
}

.mt_19 {
  margin-top: 76px;
}

.mr_19 {
  margin-right: 76px;
}

.mb_19 {
  margin-bottom: 76px;
}

.ml_19 {
  margin-left: 76px;
}

.mh_19 {
  margin-left: 76px;
  margin-right: 76px;
}

.mv_19 {
  margin-bottom: 76px;
  margin-top: 76px;
}

.p_19 {
  padding: 76px;
}

.pt_19 {
  padding-top: 76px;
}

.pr_19 {
  padding-right: 76px;
}

.pb_19 {
  padding-bottom: 76px;
}

.pl_19 {
  padding-left: 76px;
}

.ph_19 {
  padding-left: 76px;
  padding-right: 76px;
}

.pv_19 {
  padding-bottom: 76px;
  padding-top: 76px;
}

.c-gap_19 {
  gap: 76px;
}

.r-gap_19 {
  gap: 76px;
}

.m_20 {
  margin: 80px;
}

.mt_20 {
  margin-top: 80px;
}

.mr_20 {
  margin-right: 80px;
}

.mb_20 {
  margin-bottom: 80px;
}

.ml_20 {
  margin-left: 80px;
}

.mh_20 {
  margin-left: 80px;
  margin-right: 80px;
}

.mv_20 {
  margin-bottom: 80px;
  margin-top: 80px;
}

.p_20 {
  padding: 80px;
}

.pt_20 {
  padding-top: 80px;
}

.pr_20 {
  padding-right: 80px;
}

.pb_20 {
  padding-bottom: 80px;
}

.pl_20 {
  padding-left: 80px;
}

.ph_20 {
  padding-left: 80px;
  padding-right: 80px;
}

.pv_20 {
  padding-bottom: 80px;
  padding-top: 80px;
}

.c-gap_20 {
  gap: 80px;
}

.r-gap_20 {
  gap: 80px;
}

.m_21 {
  margin: 84px;
}

.mt_21 {
  margin-top: 84px;
}

.mr_21 {
  margin-right: 84px;
}

.mb_21 {
  margin-bottom: 84px;
}

.ml_21 {
  margin-left: 84px;
}

.mh_21 {
  margin-left: 84px;
  margin-right: 84px;
}

.mv_21 {
  margin-bottom: 84px;
  margin-top: 84px;
}

.p_21 {
  padding: 84px;
}

.pt_21 {
  padding-top: 84px;
}

.pr_21 {
  padding-right: 84px;
}

.pb_21 {
  padding-bottom: 84px;
}

.pl_21 {
  padding-left: 84px;
}

.ph_21 {
  padding-left: 84px;
  padding-right: 84px;
}

.pv_21 {
  padding-bottom: 84px;
  padding-top: 84px;
}

.c-gap_21 {
  gap: 84px;
}

.r-gap_21 {
  gap: 84px;
}

.m_22 {
  margin: 88px;
}

.mt_22 {
  margin-top: 88px;
}

.mr_22 {
  margin-right: 88px;
}

.mb_22 {
  margin-bottom: 88px;
}

.ml_22 {
  margin-left: 88px;
}

.mh_22 {
  margin-left: 88px;
  margin-right: 88px;
}

.mv_22 {
  margin-bottom: 88px;
  margin-top: 88px;
}

.p_22 {
  padding: 88px;
}

.pt_22 {
  padding-top: 88px;
}

.pr_22 {
  padding-right: 88px;
}

.pb_22 {
  padding-bottom: 88px;
}

.pl_22 {
  padding-left: 88px;
}

.ph_22 {
  padding-left: 88px;
  padding-right: 88px;
}

.pv_22 {
  padding-bottom: 88px;
  padding-top: 88px;
}

.c-gap_22 {
  gap: 88px;
}

.r-gap_22 {
  gap: 88px;
}

.m_23 {
  margin: 92px;
}

.mt_23 {
  margin-top: 92px;
}

.mr_23 {
  margin-right: 92px;
}

.mb_23 {
  margin-bottom: 92px;
}

.ml_23 {
  margin-left: 92px;
}

.mh_23 {
  margin-left: 92px;
  margin-right: 92px;
}

.mv_23 {
  margin-bottom: 92px;
  margin-top: 92px;
}

.p_23 {
  padding: 92px;
}

.pt_23 {
  padding-top: 92px;
}

.pr_23 {
  padding-right: 92px;
}

.pb_23 {
  padding-bottom: 92px;
}

.pl_23 {
  padding-left: 92px;
}

.ph_23 {
  padding-left: 92px;
  padding-right: 92px;
}

.pv_23 {
  padding-bottom: 92px;
  padding-top: 92px;
}

.c-gap_23 {
  gap: 92px;
}

.r-gap_23 {
  gap: 92px;
}

.m_24 {
  margin: 96px;
}

.mt_24 {
  margin-top: 96px;
}

.mr_24 {
  margin-right: 96px;
}

.mb_24 {
  margin-bottom: 96px;
}

.ml_24 {
  margin-left: 96px;
}

.mh_24 {
  margin-left: 96px;
  margin-right: 96px;
}

.mv_24 {
  margin-bottom: 96px;
  margin-top: 96px;
}

.p_24 {
  padding: 96px;
}

.pt_24 {
  padding-top: 96px;
}

.pr_24 {
  padding-right: 96px;
}

.pb_24 {
  padding-bottom: 96px;
}

.pl_24 {
  padding-left: 96px;
}

.ph_24 {
  padding-left: 96px;
  padding-right: 96px;
}

.pv_24 {
  padding-bottom: 96px;
  padding-top: 96px;
}

.c-gap_24 {
  gap: 96px;
}

.r-gap_24 {
  gap: 96px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  font-style: normal;
}

a {
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  text-decoration: unset;
}

.container {
  width: 100%;
  max-width: 1248px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  -ms-flex-align: center;
  justify-content: center;
  -ms-flex-pack: center;
  width: auto;
  height: 75px;
  border-radius: 18px;
  background-color: #292f36;
  padding-left: 56px;
  padding-right: 56px;
  border: none;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
  -webkit-box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
}
.btn-text {
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  -ms-flex-align: center;
  justify-content: center;
  -ms-flex-pack: center;
  color: #ffffff;
  font-family: "Jost", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.btn-text::after {
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  content: "";
  display: block;
  width: 16px;
  height: 14px;
  margin-top: -2px;
  margin-left: 8px;
  background-image: url(../images/arrow-btn-default.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.btn:hover {
  background-color: #cda274;
}
.btn:hover .btn-text::after {
  background-image: url(../images/arrow-btn-hover.svg);
}

.header__wrapper {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  -ms-flex-align: center;
  height: 140px;
  justify-content: space-between;
  -moz-column-gap: 48px;
       column-gap: 48px;
}
.header__logo {
  display: flex;
  display: -ms-flexbox;
}
.header__logo-img {
  width: 177px;
  height: auto;
}
.header__menu {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  -ms-flex-align: center;
  -moz-column-gap: 48px;
       column-gap: 48px;
}
.header__menu-link {
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  color: #292f36;
  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.25;
}
.header__menu-link:hover {
  opacity: 0.7;
}

.cover__wrapper {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  min-height: 760px;
  position: relative;
  border-radius: 70px;
  overflow: hidden;
}
.cover__bg-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../images/homepage-first-screen-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.cover__content {
  display: flex;
  display: -ms-flexbox;
  max-width: 440px;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  -ms-flex-pack: start;
  align-items: flex-start;
  -ms-flex-align: start;
  row-gap: 20px;
}
.cover__text-wrapper {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  row-gap: 16px;
}
.cover__title {
  color: #292f36;
  font-family: "DM Serif Display", serif;
  font-size: 65px;
  font-weight: 400;
  line-height: 1.25;
  text-transform: capitalize;
}
.cover__descr {
  color: #4d5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01em;
}

.heading__wrapper {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  -ms-flex-align: center;
  flex-direction: column;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  row-gap: 8px;
}
.heading__wrapper.width_740 {
  max-width: 740px;
}
.heading__wrapper.width_820 {
  max-width: 820px;
}
.heading__title {
  color: #292f36;
  font-family: "DM Serif Display", serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.heading__descr {
  color: #4d5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01em;
}

.projects__wrapper {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -ms-flex-pack: justify;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  row-gap: 56px;
}
.projects__item {
  display: flex;
  display: -ms-flexbox;
  width: 100%;
  max-width: calc(50% - 48px);
  flex-direction: column;
  row-gap: 24px;
}
.projects__img {
  height: auto;
  padding-bottom: 105%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.projects__item.item-1 .projects__img {
  background-image: url("../images/projects-item-1.jpg");
}
.projects__item.item-2 .projects__img {
  background-image: url("../images/projects-item-2.jpg");
}
.projects__item.item-3 .projects__img {
  background-image: url("../images/projects-item-3.jpg");
}
.projects__item.item-4 .projects__img {
  background-image: url("../images/projects-item-4.jpg");
}
.projects__item:nth-child(4n-3) .projects__img {
  border-radius: 0 80px 0 0;
}
.projects__item:nth-child(4n-2) .projects__img {
  border-radius: 80px 0 0 0;
}
.projects__item:nth-child(4n-1) .projects__img {
  border-radius: 0 0 80px 0;
}
.projects__item:nth-child(4n) .projects__img {
  border-radius: 0 0 0 80px;
}
.projects__content {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  -ms-flex-align: center;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.projects__text-wrapper {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  row-gap: 4px;
}
.projects__title {
  color: #292f36;
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.projects__descr {
  color: #4d5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01em;
}
.projects__btn-wrapper {
  display: flex;
  display: -ms-flexbox;
}
.projects__btn-icon circle {
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
.projects__item:hover .projects__btn-icon circle {
  fill: #cda274;
}

.counter {
  background-color: #f4f0ec;
}
.counter__wrapper {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -ms-flex-pack: justify;
  padding-top: 152px;
  padding-bottom: 152px;
}
.counter__item {
  width: 100%;
  max-width: 25%;
  position: relative;
}
.counter__item::after {
  content: "";
  width: 0;
  height: calc(100% - 24px);
  position: absolute;
  top: 50%;
  right: 0;
  border-left: 1px solid #cda274;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.counter__text-wrapper {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  -ms-flex-align: center;
  flex-direction: column;
  text-align: center;
  row-gap: 16px;
}
.counter__title {
  color: #292f36;
  font-family: "DM Serif Display", serif;
  font-size: 85px;
  font-weight: 400;
  line-height: 1.25;
  text-transform: capitalize;
  color: #cda274;
}
.counter__descr {
  color: #4d5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01em;
}

.blog__wrapper {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -ms-flex-pack: justify;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  row-gap: 24px;
}
.blog__item {
  display: flex;
  display: -ms-flexbox;
  width: 100%;
  max-width: calc((100% - 48px) / 3);
  flex-direction: column;
  padding: 20px;
  border-radius: 62px;
  overflow: hidden;
  border: 1px solid #E7E7E7;
  row-gap: 12px;
}
.blog__item.selected {
  background-color: #f4f0ec;
}
.blog__img-wrapper {
  position: relative;
  border-radius: 45px 45px 0 0;
  overflow: hidden;
}
.blog__img {
  height: auto;
  padding-bottom: 85%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.blog__item.item-1 .blog__img {
  background-image: url("../images/blog-item-1.jpg");
}
.blog__item.item-2 .blog__img {
  background-image: url("../images/blog-item-2.jpg");
}
.blog__item.item-3 .blog__img {
  background-image: url("../images/blog-item-3.jpg");
}
.blog__mark {
  color: #4d5053;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01em;
  position: absolute;
  left: 20px;
  bottom: 20px;
  background-color: #ffffff;
  padding-top: 4px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 8px 8px 8px 0;
}
.blog__content {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  row-gap: 24px;
}
.blog__title {
  color: #292f36;
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  max-width: 280px;
}
.blog__btn-wrapper {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  -ms-flex-align: center;
  justify-content: space-between;
  -ms-flex-pack: justify;
  margin-bottom: 16px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.blog__date {
  color: #4d5053;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01em;
}
.blog__btn-icon circle {
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
.blog__item.selected .blog__btn-icon circle {
  fill: #ffffff;
}
.blog__item:hover .blog__btn-icon circle {
  fill: #cda274;
}

.footer__wrapper {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -ms-flex-pack: justify;
}
.footer__left-wrapper {
  display: flex;
  display: -ms-flexbox;
  width: 100%;
  max-width: calc((100% - 48px) / 3);
  flex-direction: column;
}
.footer__logo {
  display: flex;
  display: -ms-flexbox;
}
.footer__logo-img {
  width: 177px;
  height: auto;
}
.footer__descr {
  color: #4d5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01em;
}
.footer__logo + .footer__descr {
  margin-top: 16px;
}
.footer__social-links {
  display: flex;
  display: -ms-flexbox;
  -moz-column-gap: 52px;
       column-gap: 52px;
  row-gap: 16px;
}
.footer__logo + .footer__social-links, .footer__descr + .footer__social-links {
  margin-top: 32px;
}
.footer__social-link {
  display: flex;
  display: -ms-flexbox;
}
.footer__social-link:hover {
  opacity: 0.7;
}
.footer__center-wrapper {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-evenly;
  -ms-flex-pack: space-evenly;
  flex-grow: 1;
  -ms-flex-positive: 1;
}
.footer__links-col {
  display: flex;
  display: -ms-flexbox;
  min-width: 120px;
  flex-direction: column;
  row-gap: 24px;
}
.footer__links-title {
  color: #292f36;
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.footer__links {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  row-gap: 24px;
}
.footer__link {
  color: #4d5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01em;
}
.footer__link:hover {
  opacity: 0.7;
}
.footer__right-wrapper {
  display: flex;
  display: -ms-flexbox;
  max-width: 260px;
  flex-direction: column;
  row-gap: 24px;
}
.footer__contacts-title {
  color: #292f36;
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.footer__contacts {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  row-gap: 24px;
}
.footer__contact {
  color: #4d5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01em;
}
.footer__contact a {
  color: inherit;
}
.footer__contact a:hover {
  opacity: 0.7;
}/*# sourceMappingURL=style.css.map */